/* biome-ignore-all lint/complexity/noImportantStyles: we need to override storybook and vanilla framework styles */

@font-face {
  font-family: "Ubuntu Sans";
  src: url("./assets/fonts/UbuntuSans/UbuntuSans.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu Sans";
  src: url("./assets/fonts/UbuntuSans/UbuntuSans-Italic.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu Sans Mono";
  src: url("./assets/fonts/UbuntuSansMono/UbuntuSansMono.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu Sans Mono";
  src: url("./assets/fonts/UbuntuSansMono/UbuntuSansMono-Italic.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

:root {
  --font-ubuntu-sans:
    "Ubuntu Sans", -apple-system, "Segoe UI", "Roboto", "Oxygen", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --font-ubuntu-sans-mono:
    "Ubuntu Sans Mono", "Courier New", Courier, monospace;
}

.docs-story {
  background-color: var(--vf-color-background-default);
}

.borderless {
  border: none !important;
  box-shadow: none !important;
}

/* vanilla framework modal fixe, 100vh overflows inside SB canvas */
.p-modal {
  height: 100% !important;
}

.reset-vanilla-framework {
  input,
  label,
  button {
    margin: 0 !important;
  }
  label {
    padding: 0 !important;
  }
}
